<div class="login-container">
  <form [formGroup]="loginForm">
      <h2>Login</h2>
      <div class="form-group">
          <label for="username">email:</label>
          <input type="text" id="username" name="username" [formControl] = "email">
      </div>
      <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" [formControl]="password">
      </div>
      <button type="submit" (click)="login()" class="login">Login</button>
      <button type="reset" class="reset">Reset</button>
  </form>
  <p>new user? create an account</p>
 <a (click)="signup()">Sign-up</a>
</div>
