<nav class="navbar">
  <div class="navbar-brand">MyBrand</div>
  <ul class="navbar-links">
    <li><a routerLink="/" routerLinkActive="router-link-active" >Login</a></li>
    <li><a routerLink="/home" routerLinkActive="router-link-active">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="router-link-active">About</a></li>
    <li><a routerLink="/services" routerLinkActive="router-link-active">Services</a></li>
    <li><a routerLink="/signup" routerLinkActive="router-link-active">Signup</a></li>
  </ul>
</nav>
