
.login-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: fit-content;
}

.form-group {
  margin-bottom: 20px;
  width: 25vw;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login {
  margin: 10px;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.login:hover {
  background-color: #0056b3;
}

.reset {
  margin: 10px;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #f30808;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.reset:hover {
  background-color: #f30808;
}

@media (max-width: 768px) {
  .login-container {
      margin: 20px;
  }
}
